/*****************************************************

	Code panel

	Container for code with numbers and scrollable
	text area.


*****************************************************/
.code-panel{
	background: #EBEAE7;
}

.code-panel__numbers-container,
.code-panel__lines-container{
	padding: 4px 0;
}

.code-panel__numbers{
	text-align: right;
	float: left;
	/*width: 55px;*/
	overflow: hidden;
	background: #efeeeb;
}

.code-panel__lines{
	background: #fff;
	color:#222;
	overflow: scroll;
}

.code-panel__lines-floater,
.code-panel__numbers-floater{
	position: relative;
}

.code-panel__number{
	display: block;
	padding:0 7px;
	cursor: default;
	color: #a8a8a8
}

.code-panel__line{
	padding-left: 10px;
}

.code-panel__line-spacer{
	height: 2px;
	margin-bottom: -2px;
	position: relative;
}

/* colors */
.code-panel__added{
	background: #E3FFE3;
}

.code-panel__deleted{
	background: #f1f1f1;
	color: #a3a3a3;
}

.code-panel__modified{
	background: #E3F1FF;
}

.code-panel__numbers .code-panel__added{
	background: #D9EFD9;
}

.code-panel__numbers .code-panel__deleted{
	background: #e1e1e1;
}

.code-panel__numbers .code-panel__modified{
	background: #DEE8F2;
}

